@CHARSET "UTF-8";

body{
    background-color:#AAAAAA;
}

div#mainBox{
    margin: auto;
    width: 955px;
    height: 100%;
    background-image:url(CampusCrawlerLanding.png);
    background-repeat:no-repeat;
    background-color:#AAAAAA;
}

div#loginButton{
    margin-left:770px;
    padding-top:340px;
}