@CHARSET "UTF-8";

body {
	background-color: #aaaaaa;
	margin: 0px;
	padding: 0px;
}

.header{
	   background-image:url(images/header.png);	
	   margin-left:auto;
       margin-right:auto;
       width:1024px;
       height:141px
}

.logout{
	   background-image:url(images/logout.png);	
	   width:75px;
       height:28px;
	   float:right;
}

.searchfield{
	   background:url(images/searchField.png);
	   width:131px;
	   height:28px;
	   float:right;
	   margin-right:200px;
	   margin-top:55px;   
}


.searchfield input {
    background-color: #000;
    border:none;
    font-size:10px;
}

.board{
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    padding-right:0px;
    background-color:#096;
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.21, rgb(10,96,0)),
    color-stop(0.61, rgb(10,153,0)));
	background-image: -moz-linear-gradient(
    center bottom,
    rgb(10,96,0) 21%,
    rgb(10,153,0) 61%);
    width:1024px;
    height:575px;
    overflow:scroll;
}

.boardcontent {
	margin-left: 0px;
	margin-top: 0px;
	width:960px;
	padding-left: 30px;
	padding-top: 30px;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
}

h1 {
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    font-size: 24px;
    white-space:nowrap;
	padding:-40px;
}

p {
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
}

/**
 * 
 */
c1 {
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
}

d1 {
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
}

d2 {
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
}
.newCrawl {
	float:right;	
	padding-right:0px;
}
.allCrawl {
    float:right;    
    padding-right:0px;
}